body {
    font-family: 'Kiwi Maru', serif;
}

/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #00383a;
    background-color: #82f9ff;
    border-color: #6df8ff;
}

.alert-primary hr {
    border-top-color: #54f7ff;
}

.alert-primary .alert-link {
    color: #000707;
}

.badge-primary {
    color: #fff;
    background-color: #00adb5;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #007c82;
}

.bg-primary {
    background-color: #00adb5 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #007c82 !important;
}

.border-primary {
    border-color: #00adb5 !important;
}

.btn-primary {
    color: #fff;
    background-color: #00adb5;
    border-color: #00adb5;
}

.btn-primary:hover {
    color: #fff;
    background-color: #008a91;
    border-color: #007c82;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 173, 181, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #00adb5;
    border-color: #00adb5;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #007c82;
    border-color: #006d72;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 173, 181, 0.5);
}

.btn-outline-primary {
    color: #00adb5;
    background-color: transparent;
    border-color: #00adb5;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #00adb5;
    border-color: #00adb5;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 173, 181, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #00adb5;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #00adb5;
    border-color: #00adb5;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 173, 181, 0.5);
}

.list-group-item-primary {
    color: #00383a;
    background-color: #6df8ff;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #00383a;
    background-color: #54f7ff;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #00383a;
    border-color: #00383a;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #6df8ff;
}

.table-hover .table-primary:hover {
    background-color: #54f7ff;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #54f7ff;
}

.text-primary {
    color: #00adb5 !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #007c82 !important;
}


/*------------------------------------
- COLOR primarypalepale
------------------------------------*/
.alert-primarypale {
    color: #000000;
    background-color: #3cf2ff;
    border-color: #27f1ff;
}

.alert-primarypale hr {
    border-top-color: #0eefff;
}

.alert-primarypale .alert-link {
    color: #000000;
}

.badge-primarypale {
    color: #fff;
    background-color: #00686f;
}

.badge-primarypale[href]:hover, .badge-primarypale[href]:focus {
    color: #fff;
    background-color: #004e55;
}

.bg-primarypale {
    background-color: #00686f !important;
}

a.bg-primarypale:hover, a.bg-primarypale:focus,
button.bg-primarypale:hover,
button.bg-primarypale:focus {
    background-color: #004e55 !important;
}

.border-primarypale {
    border-color: #00686f !important;
}

.btn-primarypale {
    color: #fff;
    background-color: #00686f;
    border-color: #00686f;
}

.btn-primarypale:hover {
    color: #fff;
    background-color: #00464b;
    border-color: #004e55;
}

.btn-primarypale:focus, .btn-primarypale.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 111, 0.5);
}

.btn-primarypale.disabled, .btn-primarypale:disabled {
    color: #fff;
    background-color: #00686f;
    border-color: #00686f;
}

.btn-primarypale:not(:disabled):not(.disabled):active, .btn-primarypale:not(:disabled):not(.disabled).active, .show > .btn-primarypale.dropdown-toggle {
    color: #fff;
    background-color: #004e55;
    border-color: #00292c;
}

.btn-primarypale:not(:disabled):not(.disabled):active:focus, .btn-primarypale:not(:disabled):not(.disabled).active:focus, .show > .btn-primarypale.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 111, 0.5);
}

.btn-outline-primarypale {
    color: #00686f;
    background-color: transparent;
    border-color: #00686f;
}

.btn-outline-primarypale:hover {
    color: #fff;
    background-color: #00686f;
    border-color: #00686f;
}

.btn-outline-primarypale:focus, .btn-outline-primarypale.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 111, 0.5);
}

.btn-outline-primarypale.disabled, .btn-outline-primarypale:disabled {
    color: #00686f;
    background-color: transparent;
}

.btn-outline-primarypale:not(:disabled):not(.disabled):active, .btn-outline-primarypale:not(:disabled):not(.disabled).active, .show > .btn-outline-primarypale.dropdown-toggle {
    color: #fff;
    background-color: #00686f;
    border-color: #00686f;
}

.btn-outline-primarypale:not(:disabled):not(.disabled):active:focus, .btn-outline-primarypale:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primarypale.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 111, 0.5);
}

.list-group-item-primarypale {
    color: #000000;
    background-color: #27f1ff;
}

.list-group-item-primarypale.list-group-item-action:hover, .list-group-item-primarypale.list-group-item-action:focus {
    color: #000000;
    background-color: #0eefff;
}

.list-group-item-primarypale.list-group-item-action.active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-primarypale,
.table-primarypale > th,
.table-primarypale > td {
    background-color: #27f1ff;
}

.table-hover .table-primarypale:hover {
    background-color: #0eefff;
}

.table-hover .table-primarypale:hover > td,
.table-hover .table-primarypale:hover > th {
    background-color: #0eefff;
}

.text-primarypale {
    color: #00686f !important;
}

a.text-primarypale:hover, a.text-primarypale:focus {
    color: #004e55 !important;
}


/*------------------------------------
- COLOR dark
------------------------------------*/
.alert-dark {
    color: #000000;
    background-color: #7b8ba3;
    border-color: #6f809b;
}

.alert-dark hr {
    border-top-color: #62748e;
}

.alert-dark .alert-link {
    color: #000000;
}

.badge-dark {
    color: #fff;
    background-color: #222831;
}

.badge-dark[href]:hover, .badge-dark[href]:focus {
    color: #fff;
    background-color: #0d0f12;
}

.bg-dark {
    background-color: #222831 !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
    background-color: #0d0f12 !important;
}

.border-dark {
    border-color: #222831 !important;
}

.btn-dark {
    color: #fff;
    background-color: #222831;
    border-color: #222831;
}

.btn-dark:hover {
    color: #fff;
    background-color: #13161b;
    border-color: #0d0f12;
}

.btn-dark:focus, .btn-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(34, 40, 49, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
    color: #fff;
    background-color: #222831;
    border-color: #222831;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #0d0f12;
    border-color: #060809;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(34, 40, 49, 0.5);
}

.btn-outline-dark {
    color: #222831;
    background-color: transparent;
    border-color: #222831;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #222831;
    border-color: #222831;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(34, 40, 49, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #222831;
    background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #222831;
    border-color: #222831;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(34, 40, 49, 0.5);
}

.list-group-item-dark {
    color: #000000;
    background-color: #6f809b;
}

.list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
    color: #000000;
    background-color: #62748e;
}

.list-group-item-dark.list-group-item-action.active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-dark,
.table-dark > th,
.table-dark > td {
    background-color: #6f809b;
}

.table-hover .table-dark:hover {
    background-color: #62748e;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
    background-color: #62748e;
}

.text-dark {
    color: #222831 !important;
}

a.text-dark:hover, a.text-dark:focus {
    color: #0d0f12 !important;
}


/*------------------------------------
- COLOR darkpale
------------------------------------*/
.alert-darkpale {
    color: #020202;
    background-color: #9ca3ae;
    border-color: #9198a5;
}

.alert-darkpale hr {
    border-top-color: #838b9a;
}

.alert-darkpale .alert-link {
    color: #000000;
}

.badge-darkpale {
    color: #fff;
    background-color: #393e46;
}

.badge-darkpale[href]:hover, .badge-darkpale[href]:focus {
    color: #fff;
    background-color: #222529;
}

.bg-darkpale {
    background-color: #393e46 !important;
}

a.bg-darkpale:hover, a.bg-darkpale:focus,
button.bg-darkpale:hover,
button.bg-darkpale:focus {
    background-color: #222529 !important;
}

.border-darkpale {
    border-color: #393e46 !important;
}

.btn-darkpale {
    color: #fff;
    background-color: #393e46;
    border-color: #393e46;
}

.btn-darkpale:hover {
    color: #fff;
    background-color: #282c32;
    border-color: #222529;
}

.btn-darkpale:focus, .btn-darkpale.focus {
    box-shadow: 0 0 0 0.2rem rgba(57, 62, 70, 0.5);
}

.btn-darkpale.disabled, .btn-darkpale:disabled {
    color: #fff;
    background-color: #393e46;
    border-color: #393e46;
}

.btn-darkpale:not(:disabled):not(.disabled):active, .btn-darkpale:not(:disabled):not(.disabled).active, .show > .btn-darkpale.dropdown-toggle {
    color: #fff;
    background-color: #222529;
    border-color: #1b1d21;
}

.btn-darkpale:not(:disabled):not(.disabled):active:focus, .btn-darkpale:not(:disabled):not(.disabled).active:focus, .show > .btn-darkpale.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(57, 62, 70, 0.5);
}

.btn-outline-darkpale {
    color: #393e46;
    background-color: transparent;
    border-color: #393e46;
}

.btn-outline-darkpale:hover {
    color: #fff;
    background-color: #393e46;
    border-color: #393e46;
}

.btn-outline-darkpale:focus, .btn-outline-darkpale.focus {
    box-shadow: 0 0 0 0.2rem rgba(57, 62, 70, 0.5);
}

.btn-outline-darkpale.disabled, .btn-outline-darkpale:disabled {
    color: #393e46;
    background-color: transparent;
}

.btn-outline-darkpale:not(:disabled):not(.disabled):active, .btn-outline-darkpale:not(:disabled):not(.disabled).active, .show > .btn-outline-darkpale.dropdown-toggle {
    color: #fff;
    background-color: #393e46;
    border-color: #393e46;
}

.btn-outline-darkpale:not(:disabled):not(.disabled):active:focus, .btn-outline-darkpale:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-darkpale.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(57, 62, 70, 0.5);
}

.list-group-item-darkpale {
    color: #020202;
    background-color: #9198a5;
}

.list-group-item-darkpale.list-group-item-action:hover, .list-group-item-darkpale.list-group-item-action:focus {
    color: #020202;
    background-color: #838b9a;
}

.list-group-item-darkpale.list-group-item-action.active {
    color: #fff;
    background-color: #020202;
    border-color: #020202;
}

.table-darkpale,
.table-darkpale > th,
.table-darkpale > td {
    background-color: #9198a5;
}

.table-hover .table-darkpale:hover {
    background-color: #838b9a;
}

.table-hover .table-darkpale:hover > td,
.table-hover .table-darkpale:hover > th {
    background-color: #838b9a;
}

.text-darkpale {
    color: #393e46 !important;
}

a.text-darkpale:hover, a.text-darkpale:focus {
    color: #222529 !important;
}


/*------------------------------------
- COLOR light
------------------------------------*/
.alert-light {
    color: #b0b0b0;
    background-color: #f4f4f4;
    border-color: #e9e9e9;
}

.alert-light hr {
    border-top-color: #dddddd;
}

.alert-light .alert-link {
    color: #979797;
}

.badge-light {
    color: #212529;
    background-color: #eeeeee;
}

.badge-light[href]:hover, .badge-light[href]:focus {
    color: #212529;
    background-color: #d4d4d4;
}

.bg-light {
    background-color: #eeeeee !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background-color: #d4d4d4 !important;
}

.border-light {
    border-color: #eeeeee !important;
}

.btn-light {
    color: #212529;
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.btn-light:hover {
    color: #212529;
    background-color: #dcdcdc;
    border-color: #d4d4d4;
}

.btn-light:focus, .btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(238, 238, 238, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
    color: #212529;
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #d4d4d4;
    border-color: #cccccc;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(238, 238, 238, 0.5);
}

.btn-outline-light {
    color: #eeeeee;
    background-color: transparent;
    border-color: #eeeeee;
}

.btn-outline-light:hover {
    color: #212529;
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.btn-outline-light:focus, .btn-outline-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(238, 238, 238, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #eeeeee;
    background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(238, 238, 238, 0.5);
}

.list-group-item-light {
    color: #b0b0b0;
    background-color: #e9e9e9;
}

.list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
    color: #b0b0b0;
    background-color: #dddddd;
}

.list-group-item-light.list-group-item-action.active {
    color: #212529;
    background-color: #b0b0b0;
    border-color: #b0b0b0;
}

.table-light,
.table-light > th,
.table-light > td {
    background-color: #e9e9e9;
}

.table-hover .table-light:hover {
    background-color: #dddddd;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
    background-color: #dddddd;
}

.text-light {
    color: #eeeeee !important;
}

a.text-light:hover, a.text-light:focus {
    color: #d4d4d4 !important;
}


/*------------------------------------
- COLOR lightpale
------------------------------------*/
.alert-lightpale {
    color: #7f7f7f;
    background-color: #c3c3c3;
    border-color: #b8b8b8;
}

.alert-lightpale hr {
    border-top-color: #acacac;
}

.alert-lightpale .alert-link {
    color: #666666;
}

.badge-lightpale {
    color: #212529;
    background-color: #bdbdbd;
}

.badge-lightpale[href]:hover, .badge-lightpale[href]:focus {
    color: #212529;
    background-color: #a3a3a3;
}

.bg-lightpale {
    background-color: #bdbdbd !important;
}

a.bg-lightpale:hover, a.bg-lightpale:focus,
button.bg-lightpale:hover,
button.bg-lightpale:focus {
    background-color: #a3a3a3 !important;
}

.border-lightpale {
    border-color: #bdbdbd !important;
}

.btn-lightpale {
    color: #212529;
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}

.btn-lightpale:hover {
    color: #212529;
    background-color: #ababab;
    border-color: #a3a3a3;
}

.btn-lightpale:focus, .btn-lightpale.focus {
    box-shadow: 0 0 0 0.2rem rgba(189, 189, 189, 0.5);
}

.btn-lightpale.disabled, .btn-lightpale:disabled {
    color: #212529;
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}

.btn-lightpale:not(:disabled):not(.disabled):active, .btn-lightpale:not(:disabled):not(.disabled).active, .show > .btn-lightpale.dropdown-toggle {
    color: #212529;
    background-color: #a3a3a3;
    border-color: #9b9b9b;
}

.btn-lightpale:not(:disabled):not(.disabled):active:focus, .btn-lightpale:not(:disabled):not(.disabled).active:focus, .show > .btn-lightpale.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(189, 189, 189, 0.5);
}

.btn-outline-lightpale {
    color: #bdbdbd;
    background-color: transparent;
    border-color: #bdbdbd;
}

.btn-outline-lightpale:hover {
    color: #212529;
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}

.btn-outline-lightpale:focus, .btn-outline-lightpale.focus {
    box-shadow: 0 0 0 0.2rem rgba(189, 189, 189, 0.5);
}

.btn-outline-lightpale.disabled, .btn-outline-lightpale:disabled {
    color: #bdbdbd;
    background-color: transparent;
}

.btn-outline-lightpale:not(:disabled):not(.disabled):active, .btn-outline-lightpale:not(:disabled):not(.disabled).active, .show > .btn-outline-lightpale.dropdown-toggle {
    color: #212529;
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}

.btn-outline-lightpale:not(:disabled):not(.disabled):active:focus, .btn-outline-lightpale:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-lightpale.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(189, 189, 189, 0.5);
}

.list-group-item-lightpale {
    color: #7f7f7f;
    background-color: #b8b8b8;
}

.list-group-item-lightpale.list-group-item-action:hover, .list-group-item-lightpale.list-group-item-action:focus {
    color: #7f7f7f;
    background-color: #acacac;
}

.list-group-item-lightpale.list-group-item-action.active {
    color: #212529;
    background-color: #7f7f7f;
    border-color: #7f7f7f;
}

.table-lightpale,
.table-lightpale > th,
.table-lightpale > td {
    background-color: #b8b8b8;
}

.table-hover .table-lightpale:hover {
    background-color: #acacac;
}

.table-hover .table-lightpale:hover > td,
.table-hover .table-lightpale:hover > th {
    background-color: #acacac;
}

.text-lightpale {
    color: #bdbdbd !important;
}

a.text-lightpale:hover, a.text-lightpale:focus {
    color: #a3a3a3 !important;
}
