:root {
    --background-color: #222831;
    --background-color-pale: #393e46;
    --primaly-color: #00adb5;
    --primaly-color-pale: #00686f;
    --white: #eeeeee;
    --white-pale: #bdbdbd;
}

body {
    font-family: 'Kiwi Maru', serif;
    background-color: var(--background-color);
    color: var(--white);
}


#historic-timeline-play-button {
    width: 100%;
    height: 200px;
    cursor: pointer;
    font-family: 'Kiwi Maru', serif;
    color: var(--white);
    background-color: var(--background-color);
    border: 1px solid var(--background-color-pale);
    border-radius: 10px;
}

#historic-timeline-start-button {
    width: 70%;
    height: 100px;
    cursor: pointer;
    display: block;
    font-family: 'Kiwi Maru', serif;
    color: var(--white);
    background-color: var(--primaly-color);
    border: 1px solid var(--background-color);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#historic-timeline-exit-button {
    float: right;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

#historic-timeline-drag-list {
    width: 50%;
    height: 400px; /* FIXME */
    border: 1px solid var(--background-color);
    border-radius: 10px;
    margin: auto;
    display: block;
    background-color: var(--background-color);
    overflow: scroll;
}

.historic-timeline-draggable {
    background-color: var(--primaly-color);
    height: 2em;
    margin: 3px;
    cursor:pointer;
    border: 1px solid var(--background-color-pale);
    border-radius: 10px;
    text-align: center;
}

#game-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    height: 80%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--background-color-pale);
}

#game-bg {
    background-color: rgba(200, 200, 200, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 979px) {
	body {
        display: none;
    }
}