:root {
    --background-color: #222831;
    --background-color-pale: #393e46;
    --primaly-color: #00adb5;
    --primaly-color-pale: #00686f;
    --white: #eeeeee;
    --white-pale: #bdbdbd;
}

#url-input {
    font-family: 'Kiwi Maru', serif;
    color: var(--white-pale);
    font-size: 50px;
    background-color: var(--background-color);
    border: 1px solid var(--background-color-pale);
    height: 100px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#send-link {
    font-size: 50px;
    cursor: pointer;
    font-family: 'Kiwi Maru', serif;
    background-color: var(--primaly-color);
    color: var(--background-color-pale);
    border: 1px solid var(--background-color-pale);
    height: 100px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}